
.body{
    background-image: url("../Assets/images/Network-Graph-vector.png");
    background-size: 100% 100%;
    /* height: 300px     */
    width: 100vw;
    height: 100vh

}
.atom{
    font-size: 3.5vw;
    /* font-weight: bold; */
    color: black;
    font-family: Arial, Helvetica, sans-serif ;

    width: 3vw;
    height: 3vw

}
.circle{
    font-size: 1vw;
    /* font-weight: bold; */
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
    width: 3.8vw;
    height: 3.8vw;
    box-shadow: 2 2 5 green
}


/* @-webkit-keyframes mymove {
50% {box-shadow: 1px 1px 2.5vw  #9B61F3;}}
 */

@keyframes example {

    0% {border: 1px solid #BC91FD}
    10% {border: 2px solid #BC91FD}
    20% {border: 3px solid #BC91FD}
    30% {border: 4px solid #D9BFFE}
    40% {border: 5px solid #D9BFFE}
    50% {border: 6px solid #D9BFFE}
    60% {border: 5px solid #D9BFFE}
    70% {border: 4px solid #D9BFFE}
    80% {border: 3px solid #BC91FD}
    90% {border: 2px solid #BC91FD}
    100% {border: 1px solid #BC91FD}
    
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 white;
      }
      70% {
          -webkit-box-shadow: 0 0 0 7px #D9BFFE;
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 #D9BFFE;
      }
}

@keyframes borderGradient {
    from {border-color: #9B61F3;}
    to {border-color: #D9BFFE;}
}

#whowhatwhy:hover {
    animation: none;
  }

#whowhatwhy{
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background-color: #9B61F3;
    border-radius: 2vw;
    /* border-color: green; */
    animation: pulse 2s infinite;
 
}
