
.body{
    background-image: url("../Assets/images/Network-Graph-vector.png");
    background-size: 100% 100%;
    /* height: 300px     */
    width: 100vw;
    height: 100vh

}
.atom{
    font-size: 3.5vw;
    /* font-weight: bold; */
    color: black;
    font-family: Arial, Helvetica, sans-serif ;

    width: 3vw;
    height: 3vw

}
.circle{
    font-size: 1vw;
    /* font-weight: bold; */
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
    width: 3.8vw;
    height: 3.8vw;
    box-shadow: 2 2 5 green
}


/* @-webkit-keyframes mymove {
50% {box-shadow: 1px 1px 2.5vw  #9B61F3;}}
 */

@keyframes example {
    /* 10%   {width: 3.1vw;height: 3.1vw;border-radius: 3.1vw}
    20%   {width: 3.2vw;height: 3.2vw;border-radius: 3.2vw}
    30%   {width: 3.3vw;height: 3.3vw;border-radius: 3.3vw}    
    40% {width: 3.4vw;height: 3.4vw;border-radius: 3.4vw}
    50%   {width: 3.5vw;height: 3.5vw;border-radius: 3.5vw}
    60% {width: 3.4vw;height: 3.4vw;border-radius: 3.4vw}
    70% {width: 3.3vw;height: 3.3vw;border-radius: 3.3vw}
    80% {width: 3.2vw;height: 3.2vw;border-radius: 3.2vw}
    90% {width: 3.1vw;height: 3.1vw;border-radius: 3.1vw}
    100% {width: 3vw;height: 3vw;border-radius: 3vw}
    0% {width: 3vw;height: 3vw;border-radius: 3vw} */
    0% {border: 1px solid #BC91FD}
    10% {border: 2px solid #BC91FD}
    20% {border: 3px solid #BC91FD}
    30% {border: 4px solid #D9BFFE}
    40% {border: 5px solid #D9BFFE}
    50% {border: 6px solid #D9BFFE}
    60% {border: 5px solid #D9BFFE}
    70% {border: 4px solid #D9BFFE}
    80% {border: 3px solid #BC91FD}
    90% {border: 2px solid #BC91FD}
    100% {border: 1px solid #BC91FD}
    
}

@keyframes borderGradient {
    from {border-color: #9B61F3;}
    to {border-color: #D9BFFE;}
}


#whowhatwhy{
    display: inline-block;
    width: 3vw;
    height: 3vw;
    background-color: #9B61F3;
    border-radius: 3vw;
    /* border-color: green; */
    animation: example 4s infinite;
    /* animation: borderGradient 3.5s infinite */
    /* animation: mymove 1s infinite;  */
    /* box-shadow: 5 5 10 black   */
    /* shadow-offset:5 10 */
    

}

    /* div#whowhatwhy{
    box-shadow: 5 5 10 black    
} */
