@import "./reset.scss";
// @import "./Super-Form-Reset.scss";
@import "./isometricBoxes.scss";
@import "./modal.scss";
@import "./forms.scss";
@import "./LoaderSuccess.scss";

$textColor: #252aef;

body { 
  font-family: 'Open Sans', sans-serif;
  background-color: #252aef;
  font-size: 13px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#stencil {
	padding: 50px;
}


h1, h2, h3, h4
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: inherit;
}

h1, h2 {
	font-weight: 800;
}

h3, h4 {
	font-weight: bold;
}

h1 {
	font-size: 2.077em;
	margin-bottom: 18px;
}

h2 {
	font-size: 1.414em;
}

p { line-height: 1.8; }

svg { max-width: 100%; max-height: 100%; }


// .baseLayer { transition: all 0.7s ease; }
// .modal-open .baseLayer { filter: blur(13px); }
.baseLayer { color: #fff; }

.logo-white {
	path, rect, polygon
	{
		fill: #fff;
	}
}

.btn-upload--fullWidth {
	width: 100%;
	> *,
	button { width: 100%; }
}

// Can be used to display a blocking overlay 
// on top of any relative position content area
.blocking-overlay {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
    z-index: 3;
    background: rgba(255,255,255,0.5);
    transition: background 0.3s;
    text-align: center;
    i { font-size: 35px; }

    // centering
    &,
    .blocking-overlay__content {
    	display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
    }
    &.step-content__success {
    	background: rgba(255, 255, 255, 1.0);
    }
}

.NAVIGATION {
	ul { background: none; color: #fff; border-bottom: 0 !important; }
	li {
		cursor: pointer;
		color: inherit;
		border-bottom: 0 !important;
		&.ant-menu-item-selected {
			font-weight: bold;
			color: inherit !important;
			> span::after {
				width: 100%;
			}
		}

		&.ant-menu-item-active {
			color: inherit !important;
			> span::after {
				width: 100%;
			}
		}

		> span::after {
			content: '';
			height: 2px;
			width: 0%;
			background: #fc9d33;
		    margin: 0 auto;
		    display: block;
		    transition: all 0.3s ease;
		    margin-top: -7px;
		}
	}
}

.newsletter {
	h3 { margin: 0 0 13px; }
	form { display: flex; box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.2); }
	input[type="text"] {
		background: #fff;
		flex: 1;
		border: 0;
		border-radius: 3px;
		padding: 5px;
		margin: 0;
		padding: 15px 12px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		color: $textColor;
	}

	input[type="submit"] {
		border: 0;
		border-radius: 3px;
		margin: 0;	
		padding: 15px 12px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background: #fca73a;
		color: #fff;
	}
}


.section {
	// h2, h3, h4, h5 { color: lighten(#323232, 50%); }
	.section__title { margin-bottom: 25px; }
	.steps-content {
	  margin-top: 16px;
	  position: relative;
	}

	.steps-action {
	  margin-top: 24px;
	}

	&.ant-layout {
		background: #fff;
		> div { background: transparent; }
		.ant-layout-header {
			padding: 20px 50px 50px;
		}
		.ant-layout-content {
			padding: 0 50px;
		}
		.ant-layout-footer {
			padding: 50px;
			> .ant-row-flex .ant-btn { width: 100%; }
		}
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 50px;

	.logo {
		width: 300px;
	}

	// nav { z-index: 1001; } // above modal
}

section.LandingPage {
	width: 440px;

	h1 { margin: 0 0 18px; }
	.newsletter {
		margin: 45px 0 0;
	}
}